<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Florian Saumurot</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main>
    <header>
        <div id="burger">
        </div>
        <nav id="menu">
            <span data-scroll="#pong">Accueil</span>
            <span data-scroll="#about-me">A propos de moi</span>
            <span data-scroll="#skills">Compétences</span>
            <span data-scroll="#projects">Projets</span>
            <span data-scroll="#contact">Contact</span>
        </nav>
    </header>
    <section id="pong"></section>
    <section id="about-me"></section>
    <section id="skills"></section>
    <section id="projects"></section>
    <section id="contact"></section>
</main>
<script src="/js/main.js"></script>
<script src="/js/pong.js"></script>
</body>
</html>